{% extends 'base.html' %}

{% block content %}

    <div class="header">
        <h1><strong>Space Launch News</strong></h1>
    </div>
    <div class="row">
        <div class="col-6">
            {% if news %}
                {% for i in news %}
                    <div class="news-event">
                        <div class="date-name" id="news-date">
                            <p>{{ i.date }} | {{ i.name }}</p>
                        </div>
                        <div class="content">
                            <div class="news-img"></div>
                            <div class="news-txt">
                                <p>{{ i.info }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="launch-event">
                    <div class="date-name">
                        <p>No Event</p>
                    </div>
                    <div class="data">
                        <p><strong>Launch Time: </strong>-</p>
                        <p><strong>Launch Site: </strong>-</p>
                    </div>
                    <div class="description">
                        <p>No Description</p>
                    </div>
                </div>
            {% endif %}
            <a href="{% url 'news' %}">News</a>
        </div>
        <div class="col-6">
            {% if other_launches %}
                {% for i in other_launches %}
                    <div class="launch-event">
                        <div class="date-name">
                            <p>{{ i.date }} | {{ i.name }} - {{ i.payload }}</p>
                        </div>
                        <div class="data">
                            <p><strong>Launch Time: </strong>{{ i.time }}</p>
                            <p><strong>Launch Site: </strong>{{ i.site }}</p>
                        </div>
                        <div class="description">
                            <p>{{ i.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="launch-event">
                    <div class="date-name">
                        <p>No Event</p>
                    </div>
                    <div class="data">
                        <p><strong>Launch Time: </strong>-</p>
                        <p><strong>Launch Site: </strong>-</p>
                    </div>
                    <div class="description">
                        <p>No Description</p>
                    </div>
                </div>
            {% endif %}
            <a href="{% url 'launch' %}">Launches</a>
        </div>
    </div>
    <div>
        <a href="{% url 'add_news' %}">Add News Event</a>
        <a href="{% url 'add_launch' %}">Add Launch Event</a>
    </div>

{% endblock content %}