{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>
    <div class="main">
        <div class="news-col">
            <div class="news">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi quis temporibus recusandae rem asperiores? Autem, cumque minus impedit nemo aut natus dolor esse minima nulla dolore. Ipsam, dignissimos similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eligendi sit, similique ipsa maiores voluptatem laudantium temporibus, sunt numquam debitis unde! Modi quae tempore vitae quasi aspernatur ab nam autem!</p>
            </div>
            <div class="news">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corporis accusamus aliquam illo sed veniam voluptates delectus ratione amet, eos soluta temporibus nam ipsum odio, dolor harum, quod magnam quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tenetur reprehenderit explicabo adipisci velit culpa assumenda ea debitis neque odio quibusdam dolore quisquam enim doloremque illo, consequatur sed architecto ex?</p>
            </div>
            <a href="{% url 'news' %}">News</a>
        </div>
        <div class="launch-col">
            <a href="{% url 'launch' %}">Launches</a>
        </div>
    </div>
    <div>
        <a href="{% url 'add_news' %}">Add News Event</a>
        <a href="{% url 'add_launch' %}">Add Launch Event</a>
    </div>

{% endblock content %}