{% extends 'base.html' %}

{% block content %}

    <div class="header">
        <div class="shdr">
            <h1><strong>Launch Log</strong></h1>
        </div>
        <div class="shdr" id="news_link">
            <div class="btn_margin">
                <a href="{% url 'home' %}">Home Page</a>
            </div>
        </div>
        <div class="shdr" id="launch_link">
            <div class="btn_margin">
                <a href="{% url 'add_launch' %}">Add Launch Event</a>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    {% if other_launches %}
        {% for i in other_launches %}
            <div class="launch-event">
                <div class="date-name">
                    <p>{{ i.date }} | {{ i.name }} - {{ i.payload }}</p>
                </div>
                <div class="data">
                    <p><strong>Launch Time: </strong>{{ i.time }} GMT</p>
                    <p><strong>Launch Site: </strong>{{ i.site }}</p>
                </div>
                <div class="description">
                    <p>{{ i.description }}</p>
                    <form action="{% url 'delete_launch' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ i.id }}">
                        <input type="submit" class="button" value="Delete">
                    </form>
                    <br>
                    <a href="{% url 'update_launch' i.id %}">Update</a>
                </div>
                <br>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <div class="launch-event">
            <div class="date-name">
                <p>No Event</p>
            </div>
            <div class="data">
                <p><strong>Launch Time: </strong>-</p>
                <p><strong>Launch Site: </strong>-</p>
            </div>
            <div class="description">
                <p>No Description</p>
            </div>
        </div>
    {% endif %}

{% endblock content %}