{% extends 'base.html' %}

{% block content %}

    <h1>Launch History</h1>
    <a href="{% url 'home' %}">Go Back</a>
    {% if other_launches %}
        {% for i in other_launches %}
            <div class="launch-event">
                <div class="date-name">
                    <p>{{ i.date }} | {{ i.name }} - {{ i.payload }}</p>
                </div>
                <div class="data">
                    <p><strong>Launch Time: </strong>{{ i.time }} GMT</p>
                    <p><strong>Launch Site: </strong>{{ i.site }}</p>
                </div>
                <div class="description">
                    <p>{{ i.description }}</p>
                    <form action="{% url 'delete_launch' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ i.id }}">
                        <input type="submit" value="Delete">
                    </form>
                    <a href="{% url 'update_launch' i.id %}">Update Launch Event</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="launch-event">
            <div class="date-name">
                <p>No Event</p>
            </div>
            <div class="data">
                <p><strong>Launch Time: </strong>-</p>
                <p><strong>Launch Site: </strong>-</p>
            </div>
            <div class="description">
                <p>No Description</p>
            </div>
        </div>
    {% endif %}

{% endblock content %}