{% extends 'base.html' %}

{% block content %}

    <h1>News Archive</h1>
    <a href="{% url 'home' %}">Go Back</a>
    {% if news %}
        {% for i in news %}
            <div class="news-event">
                <div class="date-name" id="news-date">
                    <p>{{ i.date }} | {{ i.name }}</p>
                </div>
                <div class="content">
                    <div class="news-img"></div>
                    <div class="news-txt">
                        <p>{{ i.info }}</p>
                        <form action="{% url 'delete_news' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ i.id }}">
                            <input type="submit" value="Delete">
                        </form>
                        <a href="{% url 'update_news' i.id %}">Update News Event</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="launch-event">
            <div class="date-name">
                <p>No Event</p>
            </div>
            <div class="data">
                <p><strong>Launch Time: </strong>-</p>
                <p><strong>Launch Site: </strong>-</p>
            </div>
            <div class="description">
                <p>No Description</p>
            </div>
        </div>
    {% endif %}

{% endblock content %}
