{% extends 'base.html' %}

{% block content %}

    <h1>News Archive</h1>
    <a href="{% url 'home' %}">Go Back</a>
    <div class="news-event">
        <div class="date-name" id="news-date">
            <p>June 14, 2019 | Headline</p>
        </div>
        <div class="content">
            <div class="news-img"></div>
            <div class="news-txt">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti sequi ut unde enim odio qui ipsum. Culpa alias, ipsa reiciendis, obcaecati neque qui ratione nobis iste deleniti quo sequi! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique alias dolorum laboriosam at provident nostrum accusantium aperiam sit eius distinctio voluptate, beatae libero nesciunt quod fugiat aspernatur. Voluptas, facere nostrum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repudiandae? Suscipit magnam fuga rem, quam minus molestiae sunt facere autem facilis officia quibusdam! Maiores deleniti natus, alias molestias quas consequatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequatur, inventore similique voluptate accusantium excepturi aliquid veniam aut at quod veritatis architecto nobis velit ad quibusdam voluptatem quam dolore eos!</p>
            </div>
        </div>
    </div>

{% endblock content %}
