{% extends 'base.html' %}

{% block content %}

    <h1>Update News Event</h1>
    <a href="{% url 'news' %}">Go Back</a>
    <div>
        <form class="add-form" action="{% url 'update_news' id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="date">Date of Event</label>
                <input name="date" type="date" min="1957-10-04" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Headline</label>
                <input name="name" type="text" class="form-control" placeholder="{{ update.name }}">
            </div>
            <div class="form-group">
                <label for="info">Description of Event</label>
                <input name="info" type="text" class="form-control" placeholder="{{ update.info }}">
            </div>
            <div class="form-group">
                <input type="submit" class="form_submit">
            </div>
        </form>
    </div>

{% endblock content %}
