body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

form {
    color: lightgrey;
}

.row {
    width: 100%;
}

a:link {
    background-color: rgb(20, 20, 20);
    font-size: 1.1vmax;
    text-decoration: none;
    color: red;
    padding: 5px;
    border-color: red;
    border-style: outset;
    border-width: 10px;
    box-shadow: 0px 0px 30px red;
    border-radius: 40%;
    /* transition-duration: 0.1s; */
}

a:visited {
    color: red;
}

a:hover {
    background-color: black;
    color: darkred;
    border-color: darkred;
    box-shadow: 0px 0px 10px darkred;
}

a:active {
    border-style: inset;
}

.button {
    background-color: rgb(20, 20, 20);
    font-size: 1.1vmax;
    text-decoration: none;
    color: red;
    padding: 5px;
    border-color: red;
    border-style: outset;
    border-width: 10px;
    box-shadow: 0px 0px 30px red;
    border-radius: 40%;
    /* transition-duration: 0.1s; */
}

.button:hover {
    background-color: black;
    color: darkred;
    border-color: darkred;
    box-shadow: 0px 0px 10px darkred;
}

.col-6 {
    flex: 0 0 49.9%;
    max-width: 49.9%;
}

.header {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.btn_margin {
    margin: 10px;
}

.spacer {
    height: 5vmax;
}

.shdr {
    text-align: center;
    flex: 0 0 49.9%;
    max-width: 49.9%;    
}

#news_link {
    max-width: 24.95%;
}

#launch_link {
    max-width: 24.95%;    
}

.header h1 {
    color: white;
    background: url("img/star_background.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20%;
    font-size: 3vmax;
    font-family: 'Righteous', cursive;
}

.news-event {
    height: 465px;
    margin-left: 15px;
}

.content {
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

#news-date p {
    margin: 0;
}

.news-img {
    background: url("img/moon_landing.jpg") no-repeat;
    /* min-height: 640px; */
    flex: 0 0 50%;
    background-size: cover;
}

.news-txt {
    flex: 0 0 50%;
    padding: 5px;
}

.launch-event {
    background-color: lightgrey;
}

.news {
    background-color: grey;
    flex: 0 0 50%;
    /* padding: 10px; */
    /* align-content: center; */
}

.date-name {
    background-color: grey;
}

.date-name p {
    font-size: 2vmax;
    padding: 0px 5px;
}

.data {
    padding: 0px 5px;
}

.description {
    padding: 1px 5px;
}